html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  width: 700px;
  font-family: Enriqueta, Georgia, serif;
  display: flex;
  flex-flow: row wrap;
  font-size: 16px;
}

h1 {
  flex: 1 100%;
}

h2 {
  width: 100px;
  float: left;
  clear: right;
  text-align: right;
  border-right: 1px solid black;
  padding-right: 26px;
  font-variant: small-caps;
  margin: 0;
  margin-bottom: 37px;
  font-size: inherit;
}

section {
  width: 600px;
  float: right;
  padding-left: 26px;
  margin-bottom: 37px;
}

section *:first-child {
  margin-top: 0;
  padding-top: 0;
}

section *:last-child {
  margin-bottom: 0;
  padding-bottom: 0;
}

h3 {
  display: inline-block;
  margin: 0;
  font-size: inherit;
}

.dates {
  font-weight: bold;
  float: right;
}

ul {
  padding-left: 21px;
  /* list-style-position: inside; */
  /* padding-left: 0; */
}

ul.bare, li.bare {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

p.smush-down  {
  margin-bottom: 0;
}

p.smush-up {
  margin-top: 0;
}

ul.smush-up {
  margin-top: 0;
  padding-top: 0;
}

a {
  -moz-text-decoration-style: dotted;
  color: inherit;
}

a:hover {
  color: #aaa;
}
