doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title Jonathan Hinkle's resume
    link(rel='stylesheet', href='//cdnjs.cloudflare.com/ajax/libs/normalize/3.0.1/normalize.min.css')
    link(rel='stylesheet', href='//fonts.googleapis.com/css?family=Roboto+Slab:100,700,400,300')
    link(rel='stylesheet', href='styles.css')
    meta(name='viewport', content='width=device-width; initial-scale=1.0')
  body
    h1 Jonathan Hinkle
    section
      h2.blue Skills and Tools
      .content
        ul
          li Ruby
          li Rails (and other Rack-based frameworks like Sinatra and Grape)
          li SQL (PostgreSQL and MySQL)
          li JavaScript (and CoffeeScript)
          li HTML (and Haml)
          li CSS (and Sass and Less)
          li jQuery
          li Backbone.js
          li Redis
          li Git
          li Amazon Web Services (EC2, S3, and SES)
          li DSL design and parser implementation
          li TDD with RSpec, Cucumber, and Capybara

    section
      h2.purple Work Experience
      .content
        .header-and-dates
          h3 Vermonster
          .dates January 2010 – August 2013
        p.smush-up.
          Full stack web developer at an agile web application consultancy.
        p.
          Engaged across the entire process of planning, building, and
          delivering web applications: elicitation of preliminary requirements,
          modeling of the business domain, implementation of application logic,
          construction of application UI, and design and maintenance of
          deployment infrastructure.  Helped junior hires build their skill sets
          through pairing and collaborative planning.
    
    section
      h2.green Education
      .content
        .header-and-dates
          h3 University of Georgia
          .dates August 2005 – May 2009
        ul.bare
          li B.S. in Computer Science
          li B.A. in Cognitive Science
          li minor in Linguistics
          li graduated <i>magna cum laude</i>

    section
      h2.orange Open Source
      .content
        p.
          Author of <a href="https://github.com/hynkle/juno-email">juno-email</a>,
          an open source tool for salvaging email from the undocumented file
          format of Juno's unmaintained desktop email client.

        p.smush-down.
          Contributed to the following open source projects:
        ul.bulleted.smush-up
          li.
            <a href="https://github.com/ianwhite/pickle">pickle</a>,
            a collection of model-related step definitions and machinery for Cucumber
          li.
            <a href="https://github.com/olbrich/ruby-units">ruby-units</a>,
            an arithmetic library for dealing with units of measure
          li.
            <a href="http://jquerymobile.com/">jQuery Mobile</a>,
            a JavaScript framework for building mobile-friendly web applications
