smush-up()
  margin-top 0
  padding-top 0
  
smush-down()
  margin-bottom 0
  padding-bottom 0

parenthesize()
  &:before
    content '('
  &:after
    content ')'

bare-list()
  list-style none
  padding-left 0
  margin 0


html
  box-sizing border-box

*, *:before, *:after
  box-sizing inherit

body
  font-family 'Roboto Slab', Georgia, serif
  font-size 16px
  font-weight 300
  @media print
    font-size 12px
    text-align justify

section
  @media screen and (min-width: 768px)
    position relative
    display block
    margin-bottom 37px
    max-width 700px
    width 100%
  @media print
    position relative
    margin-bottom 37px
    /* potentially prevents an empty page overflow */
    &:last-child
      margin-bottom 0
      h2
        margin-bottom 0

h1
  font-size 37px
  padding 0 28px
  @media screen and (min-width: 768px)
    font-size 37px
    padding 0 50px
  @media screen and (max-width: 359px)
    font-size 28px
    padding 0 37px
  @media print
    font-size 28px
    padding 0 100px 21px 100px

h2
  color white
  font-variant normal
  font-size 21px
  font-weight 300
  padding 0 16px
  &.blue
    background-color #087acb
  &.purple
    background-color #6c3e96
  &.green
    background-color #4cb048
  &.orange
    background-color #f06600
  @media screen and (min-width: 768px)
    font-size inherit
    font-weight 100
    width 135px
    clear right
    text-align right
    padding 26px
    margin 0
    margin-bottom 37px
    height 100%
    position absolute
    left 0
    top 0
  @media print
    width 100px
    color inherit
    text-align right
    font-size inherit
    font-weight 300
    float left
    left 0
    padding 0
    padding-right 26px
    margin 0
    &, &:before
      width 100px
    &:after
      content ''
      position absolute
      top 0
      bottom 0
      z-index -1
      left 100px
      border-right 1px solid black
    &.blue, &.purple, &.green, &.orange
      background-color inherit

h3
  font-size inherit
  font-weight 400
  font-size inherit
  margin 0
  font-weight 700
  @media screen and (min-width: 768px)
    display inline-block
    font-weight 400
  @media print
    display inline-block

@media screen and (min-width: 768px), print
  .header-and-dates
    display flex
    h3
      flex 1

section .content
  padding 0 21px
  @media screen and (min-width: 768px)
    max-width 700px
    width 100%
    padding-left 151px  /* 125+26 */

    & *:first-child
      smush-up()

    & *:last-child
      smush-down()

  @media print
    padding-left 126px  /* 125 + 26 */

.dates
  @media screen and (max-width: 767px)
    parenthesize()
  @media screen and (min-width: 768px), print
    font-weight 400
    flex 1
    text-align right

ul
  padding-left 21px
  @media screen and (min-width: 768px), print
    bare-list()

ul.bare, li.bare
  bare-list()

ul.bulleted
  list-style disc 
  padding-left 21px

.smush-down
  smush-down()

.smush-up
  smush-up()

a
  text-decoration-style dotted
  color inherit

  &:hover
    color #aaa

  @media print
    text-decoration none




